<div class='nested-fields'>
  <div class="field">
    <%= f.label :name, "Nome do dia" %>
    <%= f.text_field :name %>
  </div>

  <h3>Exercícios</h3>
  <div id='exercises'>
    <%= f.fields_for :exercises do |exercise| %>
      <%= render 'exercise_fields', :f => exercise %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Adicionar exercício', f, :exercises %>
    </div>
  </div>

  <%= link_to_remove_association "Remover dia", f %>
</div>
