<div class="nested-fields container">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-6 form-inline">
          <%= f.label :name, "Nome do dia", :style => "margin-right: 15px;" %>
          <%= f.text_field :name, :class => "form-control form-control-sm", required: true %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div id="exercises">
        <%= f.fields_for :exercises do |exercise| %>
          <%= render "exercise_fields", :f => exercise %>
        <% end %>
        <div>
          <small><%=
            link_to_add_association "Adicionar novo exercício",
            f,
            :exercises,
            "data-association-insertion-method" => "before",
            "data-association-insertion-traversal" => "closest",
            "data-association-insertion-node" => "div",
            :class => "text-primary"
          %></small>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <small><%= link_to_remove_association "Remover dia", f, :class => "text-danger" %></small>
    </div>
  </div>
  <br>
</div>
