<div class="nested-fields row" style="margin-bottom: 5px;">
  <div class="col-sm-3">
    <small><%= f.label :name, "Nome do exercício" %></small>
    <%= f.text_field :name, :class => "form-control form-control-sm", required: true %>
  </div>
  <div class="col-sm-2">
    <small><%= f.label :sets, "Número de séries" %></small>
    <%= f.text_field :sets, :class => "form-control form-control-sm", required: true %>
  </div>
  <div class="col-sm-3">
    <small><%= f.label :repetitions, "Número de repetições" %></small>
    <%= f.text_field :repetitions, :class => "form-control form-control-sm", required: true %>
  </div>
  <div class="col-sm-2">
    <small><%= f.label :rest, "Tempo de descanso" %></small>
    <%= f.text_field :rest, :class => "form-control form-control-sm", required: true %>
  </div>
  <div class="col-sm-2">
    <div style="margin-top: 30px;">
      <small><%= link_to_remove_association "Remover exercício", f, class: "text-danger" %></small>
    </div>
  </div>
</div>
