<tr class='nested-fields'>
  <td scope="row">
    <%= f.text_field :name, :class => "form-control", required: true %>
  </td>
  <td>
    <%= f.text_field :sets, :class => "form-control", required: true %>
  </td>
  <td>
    <%= f.text_field :repetitions, :class => "form-control", required: true %>
  </td>
  <td>
    <%= f.text_field :rest, :class => "form-control", required: true %>
  </td>
  <td>
    <div style='margin-top: 5px;'>
      <%= link_to_remove_association "Remover exercício", f, class: "text-danger" %>
    </div>
  </td>
</tr>
