<%= form_for @workout do |f| %>
  <div class="field">
    <%= f.label :name, "Nome do treino" %>
    <br/>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :coach, "Nome do treinador" %>
    <br/>
    <%= f.text_field :coach %>
  </div>

  <h3>Dias</h3>
  <div id='days'>
    <%= f.fields_for :days do |day| %>
      <%= render 'day_fields', :f => day %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Adicionar dia', f, :days %>
    </div>
  </div>

  <%= f.submit 'Salvar' %>
  <%= link_to 'Cancelar', workouts_path %>
<% end %>
