<%= form_for @workout do |f| %>
  <div class="container">
    <div class="form-group row">
      <div class="col-sm-6">
        <%= f.label :name, "Nome do treino" %>
        <%= f.text_field :name, :class => "form-control", required: true %>
      </div>
      <div class="col-sm-6">
        <%= f.label :coach, "Nome do treinador" %>
        <%= f.text_field :coach, :class => "form-control", required: true %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <%= f.label :description, "Descrição do treino" %>
        <%= f.text_area :description, :class => "form-control ", required: true %>
      </div>
    </div>
  </div>

  <br>
  <h3>Dias de treino</h3>
  <hr>
  <br>

  <div id="days">
    <%= f.fields_for :days do |day| %>
      <%= render "day_fields", :f => day %>
    <% end %>
    <div>
      <%= link_to_add_association "Adicionar novo dia", f, :days, :class => "text-primary" %>
    </div>
  </div>

  <div class="d-flex flex-row-reverse">
    <div class="p-2">
      <%= f.submit "Salvar", :class => "btn btn-primary"%>
    </div>
    <div class="p-2">
      <%= link_to "Cancelar", workouts_path, :class => "btn btn-secondary"%>
    </div>
  </div>
<% end %>
