<p id="notice"><%= notice %></p>

<h1>Treinos cadastrados</h1>

<% @workouts.each do |workout| %>
  <h3>Nome do treino: <%= workout.name %></h1>
  <p>Treinador: <%= workout.coach %></p>
  <%= link_to 'Mostrar', workout %>
  <%= link_to 'Editar', edit_workout_path(workout) %>
  <hr/>
<% end %>

<br>

<%= link_to 'Novo treino', new_workout_path %>
<br>
<%= link_to 'Voltar', root_path %>
