<p id="notice"><%= notice %></p>

<h1>Cadastrar treino</h1>


<%= form_for(@workout) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :coach %>
  <%= f.text_field :coach %>
  <%= f.label :days %>
  <%= f.text_field :days %>
  <%= f.submit %>
<% end %>

<br>
