<%- title "Treino #{@workout.name}" %>

<p id="notice"><%= notice %></p>

<h1>Nome do treino: <%= @workout.name %></h1>
<h3>Treinador: <%= @workout.coach %></h3>
<h3>Dias:</h3>
<ul>
<% @workout.days.each do |day| %>
  <li>
    <h4>Nome: <%= day.name %></h4>
    <p>Exercícios:</p>
    <ul>
    <% day.exercises.each do |exercise| %>
      <li>
        <h4>Nome: <%= exercise.name %></h4>
        <p>Sets: <%= exercise.sets %></p>
        <p>Repetições: <%= exercise.repetitions %></p>
        <p>Descanso: <%= exercise.rest %></p>
      </li>
    <% end %>
    </ul>
  </li>
<% end %>
</ul>

<%= link_to 'Voltar', workouts_path %>
