<div class="container">
  <%- title "#{@workout.name}" %>

  <br/>

  <h1>
    <%= @workout.name %>
    <%- if current_user && current_user.saved_workouts.exists?(workout_id: @workout.id) -%>
      <small><span class="badge badge-warning">Favorito</span></small>
    <%- end -%>
  </h1>
  <h5>Treinador: <%= @workout.coach %></h5>
  <p><%= simple_format(@workout.description) %></p>

  <% if logged_in? %>
    <%- unless current_user.saved_workouts.exists?(workout_id: @workout.id) -%>
      <%= button_to 'Favoritar', saved_workouts_path(workout_id: @workout.id), method: :post, :class => 'btn btn-warning' %>
    <%- else -%>
      <%= button_to 'Remover', saved_workout_path(id: @workout.id), method: :delete, :class => 'btn btn-secondary' %>
    <%- end -%>
  <%- end -%>

  <hr>
  <br>

  <% @workout.days.each do |day| %>
    <div class="card">
      <div class="card-header">
        <h5><%= day.name %></h5>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <% day.exercises.each do |exercise| %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-3">
                  <small>EXERCÍCIO</small>
                  <p><%= exercise.name %></p>
                </div>
                <div class="col-sm-3">
                  <small>SÉRIES</small>
                  <p><%= exercise.sets %></p>
                </div>
                <div class="col-sm-3">
                  <small>REPETIÇÕES</small>
                  <p><%= exercise.repetitions %></p>
                </div>
                <div class="col-sm-3">
                  <small>DESCANSO</small>
                  <p><%= exercise.rest %></p>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <br>
  <% end %>

  <div class="d-flex flex-row-reverse">
    <div class="p-2">
      <%= link_to 'Voltar', workouts_path, :class => "btn btn-secondary" %>
    </div>
  </div>
</div>
