<div class="card" style="margin:auto; margin-top: 15vmin; width: 20rem;">  
  <div class="card-body">
    <%= form_with scope: :session, url: sign_in_path, local: true do |f| %>
        <div class="field">
          <h6><%= f.label :email, "Email"%></h6>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <h6><%= f.label :password, "Senha"%></h6>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "login" %>
        </div>

        <p>Novo aqui? <%= link_to "Registre-se agora!", new_user_path %></p>
    <% end %>
  </div>
</div>