<div class="card" style="margin:auto; margin-top: 15vmin; width: 20rem;">  
  <div class="card-body">
    <%= form_with scope: :session, url: sign_in_path, local: true do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
    
      </br>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
    
      <div class="dropdown-divider"></div>

      <div class="actions">
        <%= f.submit "login", class: "btn btn-primary" %>
      </div>

      <p>Novo aqui? <%= link_to "Registre-se agora!", new_user_path %></p>
    <% end %>
  </div>
</div>