<div class="container">

    <h1>Usuários</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>CPF</th>
                <th>Data de nascimento</th>
                <th>Telefone</th>
                <th>Gênero</th>
                <th>Categoria</th>
            </tr>
        </thead>

        <tbody>
            <% @users.each do |users| %>
                <tr>
                    <td><%= users.name %></td>
                    <td><%= users.email %></td>
                    <td><%= users.cpf %></td>
                    <td><%= users.birth_date %></td>
                    <td><%= users.phone %></td>
                    <td><%= users.gender %></td>
                    <td><%= users.category %></td>
                    <td><%= link_to 'Show', users, :class => "btn btn-info" %></td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <br>

    <div class="d-flex flex-row">
        <div class="p-2">
            <%= link_to 'Novo usuário', new_user_path, :class => "btn btn-primary" %>
        </div>
        <div class="p-2">
            <%= link_to 'Voltar', root_path, :class => "btn btn-secondary" %>
        </div>
    </div>
</div>
