<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>CPF</th>
            <th>Birth date</th>
            <th>Phone</th>
            <th>Gender</th>
        </tr>
    </thead>

    <tbody>
        <% @users.each do |users| %>
            <tr>
                <td><%= users.name %></td>
                <td><%= users.email %></td>
                <td><%= users.cpf %></td>
                <td><%= users.birth_date %></td>
                <td><%= users.phone %></td>
                <td><%= users.gender %></td>
            </tr>
        <% end %>
    </tbody>
</table>
