<p id="notice"><%= notice %></p>

<h1>Cadastrar usuário</h1>

<%= form_for(@user) do |users| %>
  Nome<br/>
  <%= users.text_field :name, :class => "form-control", required: true %>
  <br/>
  Email<br/>
  <%=  users.text_field :email, :class => "form-control", required: true %>
  <br/>
  Confirme seu Email<br/>
  <%=  users.text_field :email_confirmation, :class => "form-control", required: true %>
  <br/>
  CPF<br/>
  <%= users.text_field :cpf, :class => "form-control", required: true %>
  <br/>
  Data de nascimento<br/>
  <%= users.date_field :birth_date, as: :date, value: users.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
  <br/>
  Telefone<br/>
  <%= users.text_field :phone %>
  <br/>
  Gênero<br/>
    <%= users.radio_button :gender, 'Masculino' %> Masculino<br />
    <%= users.radio_button :gender, 'Feminino' %> Feminino<br />
    <%= users.radio_button :gender, 'Outro' %> Outro<br />
  <br/>
  Senha<br/>
  <%= users.password_field :password, :class => "form-control", required: true %>
  <br/>
  Confirme sua senha<br/>
  <%= users.password_field :password_confirmation, :class => "form-control", required: true %>
  <br/>
  <%= users.submit %>
  <br/>
  <%= link_to 'Cancelar', users_path %>
<% end %>

<br>