<p id="notice"><%= notice %></p>

<h1><%= @user.name %></h1>
<h3>email: <%= @user.email %></h3>
<h3>cpf: <%= @user.cpf %></h3>
<h3>birth_date: <%= @user.birth_date %></h3>
<h3>phone: <%= @user.phone %></h3>
<h3>gender: <%= @user.gender %></h3>
